h1 {
    color: black;
    background-color: cornsilk;  
    text-align: center;

}

p {
    color: black;
    background-color: cornsilk;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}



